#logo{
	width: 5%;
	height: 5%;
	margin-left: 1%;
	margin-top: 1%;
    position: absolute;
}
#header{
    background-color: #3b3c36;
    width: 100%;
    height: 100px;
    margin-left: 0px;
	position:relative;
	border-radius: 0 0 10px 10px; 
}
body{
	margin: 0px;
	padding: 0px;
	background-color:#444444;
}
h1{
	color: #FFFFFF;  
    font: 32px Serif;  
    margin-left: 35%;
    position: absolute;
}
#sidebar{
	background-color: rgba(8,210,0,1);
	margin-left: 0px;
	margin-top: 10px;
	height: 10%;
	width: 7%;
	border-radius: 0 10px 10px 0; 
	position:relative;
	color: #000000;
	font-size: 100%;
    
}
a{
    font-size: 90%;
    color: white;
}
iframe{
	position: absolute;
	margin-left: 18%;
	height: 80%;
	width: 60%;
	margin-bottom: 10px;
}
#footer{
    background: rgb(0,148,199);
    background: linear-gradient(0deg, rgba(0,148,199,1) 0%, rgba(8,210,0,1) 100%);
    width: 100%;
    height: 100px;
    margin-left: 0px;
	margin-top: 10%;
	bottom: 0px;
	position:absolute;
	border-radius: 10px 10px 0 0; 
	color: #FFFFFF;
}
