#name{
  padding-top: 1%;
  color: white;
}
#text{
  color: white;
}
head{
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
body{
  background-attachment: scroll;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
#main{
  margin-top: 1%;
  position:absolute;
  height: 95%;
  width: 80%;
  margin-right: 10%;
  margin-left: 8%;
  padding-right: 2%;
  padding-left: 2%;
  }
