h1{
	color: black;
	font:sans-serif ;
	font-size: 160%;
	position: static;
}
h2{color: white;
	font:sans-serif ;
	font-size: 160%;
	position: static;
}
a{
	font-size: 160%;
	color: white;
	font:sans-serif ;
}
p{
	font-size: 160%;
	color: white;
	font: sans-serif;
}