#header{
	background-color: #212121;
}
body{
	background: radial-gradient(circle farthest-corner at 10px 10px, #004A7F, #57007F);
	background-attachment: fixed;

}
#main{
	background-color: rgba(77, 77, 77, 0.7);
}
