#header{
	background-color: #a1a1a1;
}
body{
	background: #548eeb;
	background-attachment: fixed;

}
#main{
	background-color: rgba(107, 107, 107, 0.6);
}
#border{
	border-color: #363636;
	border-style: inset;
}